<%- include ("../partials/adminHeader") %>
  <div class="col" style="padding-top: 7rem;">
    <div class="container mt-1 w-75 border " style="background-color: white; border-radius: 40px;">
      <form action="/admin/postEditproduct/<%= productData._id %>" method="post" id="form">
        <div class="d-flex justify-content-center">
          <h1>Edit Product</h1>
        </div>
        <div class="row">
          <div class="form-outline mb-1 ">
            <label class="form-label" for="form3Example1c">Product name</label>
            <input type="text" value="<%=productData.name%>" name="name" id="name" class="form-control" />
          </div>
          <div class="form-outline mb-1 mt-2  col-6">
            <label class="form-label" for="form3Example1c">Price</label>
            <input type="text" value="<%=productData.price%>" name="price" id="price" class="form-control" />
          </div>
          <div class="form-outline mb-2 mt-4 col-6 ">
            <select required class="form-select required" name="category" id="category"
              aria-label="Default select example">
              <option selected value="<%=productData.category%>" disabled="disabled">Category</option>
              <% category.forEach((categories)=> {%>
                <option value="<%=categories._id%>">
                  <%=categories.category_name%>
                </option>
                <% }) %>
            </select>
          </div>
          <div class="form-outline flex-fill mb-1">
            <label class="form-label" for="form3Example1c">Description</label>
            <input type="text" value="<%=productData.description%>" name="description" id="description"
              class="form-control" />
          </div>
          <div class="form-outline flex-fill mb-1 ">
            <label class="form-label" for="form3Example1c">Stock</label>
            <input type="text" value="<%=productData.stock%>" name="stock" id="stock" class="form-control" />
          </div>
        </div>
        <div class="d-flex justify-content-center mt-1">
          <button type="submit" class="btn btn-success btn-block ">Edit product</button>
        </div>
      </form>
      <form action="/admin/postEditproduct/<%= productData._id %>" id="form" method="post" enctype="multipart/form-data">
        <div class="form-outline flex-fill mb-0 mt-4">
          <input
            class="form-control"
            required
            placeholder="Product image"
            id="fileInput"
            type="file"
            name="image"
            id="product_image"
            multiple
          />
          <div id="previews"></div>
        </div>
        <div class="d-flex justify-content-center mt-1">
          <button type="submit" class="btn btn-success btn-block mb-4">Edit product Image</button>
        </div>
      </form>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
  </body>
  <script>
    const fileInput = document.getElementById("fileInput");
    const previews = document.getElementById("previews");
  
    fileInput.addEventListener("change", function () {
      previews.innerHTML = "";
  
      const files = fileInput.files;
      for (let i = 0; i < files.length; i++) {
        const file = files[i];
  
        const reader = new FileReader();
        reader.addEventListener("load", function () {
          const img = document.createElement("img");
          img.src = reader.result;
          img.style.width = "150px";
          img.style.marginRight = "7.5px";
  
          previews.appendChild(img);
        });
  
        reader.readAsDataURL(file);
      }
    });
  </script>
  </html>