<%- include ("../partials/adminHeader1") %>

<!-- Content wrapper -->
<div class="content-wrapper">
  <div class="container-xxl flex-grow-1 container-p-y">
    <div class="col-12">
      <div class="card mb-4">
        <h5 class="card-header">Edit product</h5>
        <form action="/admin/postEditproduct/<%= productData._id %>" method="post" id="form">
          <div class="card-body demo-vertical-spacing demo-only-element">

            <div class="input-group">
              <span class="input-group-text">Product name</span>
              <input type="text" value="<%=productData.name%>" name="name" id="name" class="form-control" />
            </div>

            <div class="input-group">
              <span class="input-group-text">Price</span>
              <input type="number" value="<%=productData.price%>" name="price" id="price" class="form-control" />
            </div>

            <div class="input-group">
              <select required class="form-select required" name="category" id="category" aria-label="Default select example">
                <option selected value="<%=productData.category%>" disabled="disabled">Category</option>
                <% category.forEach((categories)=> {%>
                <option value="<%=categories._id%>">
                  <%=categories.category_name%>
                </option>
                <% }) %>
              </select>
            </div>

            <div class="input-group">
              <span class="input-group-text">Description</span>
              <textarea style="min-height: 10rem;" name="description" id="description" class="form-control"><%=productData.description%></textarea>
            </div>

            <div class="input-group">
              <span class="input-group-text">Stock</span>
              <input type="number" value="<%=productData.stock%>" name="stock" id="stock" class="form-control" />
            </div>

            <div class="input-group d-flex justify-content-center mt-1">
              <button type="submit" class="btn btn-success btn-block ">Edit product</button>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Content wrapper -->

<%- include ("../partials/adminFooter") %>