<%- include ("../partials/adminHeader1") %>

<!-- Content wrapper -->
<div class="content-wrapper">
  <div class="container-xxl flex-grow-1 container-p-y">
    <div class="card">
      <h5 class="card-header">Ordered product and address</h5>
      <div class="d-flex justify-content-left mb-3">
        <div class="bg-light" style="height: 170px;width: 400px;">
          <div class="p-3">
            <p><%=orderDetails[0].name %><br><br>
              <%=orderDetails[0].phone %><br><br>
              <%=orderDetails[0].houseName %>,
              <%=orderDetails[0].area %>,
              <%=orderDetails[0].landMark %>,
              <%=orderDetails[0].district %>,
              <%=orderDetails[0].state %>,
              <%=orderDetails[0].postOffice %>,
              <%=orderDetails[0].pin %>,
            </p>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive text-nowrap">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Image</th>
                <th scope="col">Product name</th>
                <th scope="col">Category</th>
                <th scope="col">quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
              <% productData.forEach((order)=>{ %>
              <tr>
                <td><img style="height: 60px; width: 60px;" src="/<%= order.productDetail.image[0].path %>" class="img-fluid" alt="" /></td>
                <td><%= order.productDetail.name %></td>
                <td><%= order.category_name.category_name%></td>
                <td><%= order.productQuantity %></td>
                <% var a=order.productQuantity%>
                <% var b=order.productDetail.price%>
                <% var c=a*b %>
                <td>₹ <%=order.productDetail.price%> </td>
                <td>₹ <%=c %></td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Content wrapper -->

<%- include ("../partials/adminFooter") %>
