<%- include ("../partials/adminHeader1") %>

<!-- Content wrapper -->
<div class="content-wrapper">
  <div class="container-xxl flex-grow-1 container-p-y">
    <div class="card">
      <h5 class="card-header">Bordered Table</h5>
      <div class="card-body">
        <div class="table-responsive text-nowrap">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Customer name</th>
                <th scope="col">Order date</th>
                <th scope="col">Payment method</th>
                <th scope="col">Payment status</th>
                <th scope="col">Order status</th>
                <th scope="col">Delivery date</th>
                <th scope="col">Total amount</th>
                <th scope="col">Order controlls</th>
              </tr>
            </thead>
            <tbody>
              <% orderDetails.forEach((order)=>{ %>
              <tr>
                <td>
                  <%= order.name %>
                </td>

                <td>
                  <%= order.orderDate %>
                </td>
                <td>
                  <%= order.paymentMethod %>
                </td>
                <td>
                  <%= order.paymentStatus %>
                </td>
                <td>
                  <%= order.orderStatus %>
                </td>
                <td>
                  <%= order.deliveryDate %>
                </td>
                <td>₹ <%= order.totalAmount %>
                </td>
                <td>
                  <div class="dropdown">
                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                      <i class="bx bx-dots-vertical-rounded"></i>
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="/admin/orderedProduct/<%=order._id%> "><i class="bx bx-edit-alt me-1"></i>View</a>

                      <button type="button" class="btn mt-1" data-bs-toggle="modal" data-bs-target="#exampleModal-<%= order._id %>">
                        <i class="bx bx-trash me-1"></i>Edit
                      </button>

                    </div>
                  </div>

                  <!-- Modal -->
                  
                  <div class="modal fade" id="exampleModal-<%= order._id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="exampleModalLabel">Edit orders</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <form action="/admin/orderStatuschange/<%= order._id %>" method="post">
                            <div class="mb-3">
                              <label for="recipient-name" name="orderStatus" class="col-form-label"> Order Status</label>
                              <select class="form-select" name="orderStatus" aria-label="Default select example" id="">

                                <option selected><%= order.orderStatus %></option>
                                <option value="pending" name="orderStatus">Pending</option>
                                <option value="shipped" name="orderStatus">Shipped</option>
                                <option value="out for Delivery" name="outForDelivery">Out For Delivery</option>
                                <option value="delivered" name="orderStatus">Delivered</option>
                                <option value="cancelled" name="orderStatus">Cancel</option>

                              </select>
                            </div>
                            <div class="mb-3">
                              <label for="message-text" name="orderStatus " class="col-form-label">Payment status</label>
                              <select name="paymentStatus" class="form-select" id="">

                                <option selected><%= order.paymentStatus %></option>
                                <option value="not paid" name="paymentStatus">not paid</option>
                                <option value="paid" name="paymentStatus">paid</option>

                              </select>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              <button type="submit" class="btn btn-success">Save changes</button>

                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <% }) %>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Content wrapper -->

<%- include ("../partials/adminFooter") %>