<%- include ("../layout/layout2") %>
<body>

    <!-- Start Header Area -->
	<%- include ("../partials/userHeader") %>
	<!-- End Header Area -->

    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Checkout</h1>
                    <nav class="d-flex align-items-center">
                        <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="single-product.html">Checkout</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Checkout Area =================-->
    <section class="checkout_area section_gap">
      <div class="row justify-content-center">
				<div class="col-xl-10 ftco-animate">

					<!--  -->

					<div class="container pb-5">
						<button type="button" class="btn btn-primary" data-bs-toggle="modal"
							data-bs-target="#exampleModal">
							Add new address
						</button>
						<button type="button" class="btn btn-primary" data-bs-toggle="modal"
							data-bs-target="#editAddress">
							Edit Address
						</button>
					</div>

					<h5>
						Select Shipping address
					</h5>
					<form id="placeOrder">
						<select class="form-select mt-2" required name="address" style="width: 20rem">
							<% userData.addressDetails.forEach((address)=>{%>
								<option name="address">
									<%= address.housename %>,<%= address.postoffice%>,<%= address.landmark %>,
												<%=address.area %>,<%= address.district %>,<%= address.pin %>,
															<%=address.state %>
								</option>
								<% }) %>
						</select>

						<!-- Button trigger modal -->

						<div class="container d-flex ">

							<div class="form-group mt-5">
								<h6>Have coupon?</h6>
								<div class="input-group"> <input type="text" class="form-control coupon" name="coupon"
										placeholder="Coupon code"> <span class="input-group-append"></span> </div>
							</div>

						</div>





						<div class="row mt-5 pt-3 d-flex">
							<div class="col-md-6 d-flex">
								<div class="cart-detail cart-total bg-light p-3 p-md-4">
									<h3 class="billing-heading mb-4">Amount to Paid</h3>
									<p class="d-flex ">
										<span>Product</span>
										<span>Total</span>
										<% productData.forEach(function(product) {%>

									</p>
									<p class="d-flex">
										<span>
											<%=product.productDetail.name%> <strong class="mx-2">x</strong>
												<%= product.productQuantity%>
										</span>
										<% var a=product.productDetail.price%>
											<% var b=product.productQuantity%>
												<% var c=a*b %>
													<td>
														<span>
															<%= c %>₹
														</span>
									</p>
									<% }) %>
										<hr>
										<p class="d-flex ">
											<span>Total Amount</span>
											<span>
												<%=sum%> ₹
											</span>
										</p>
								</div>
							</div>

							<div class="col-md-6">
								<div class="cart-detail bg-light p-3 p-md-4">
									<h3 class="billing-heading mb-4">Payment Method</h3>
									<div class="form-group">
										<div class="col-md-12">
											<div class="radio">
												<label><input type="radio" value="COD" name="paymentMethod" class="mr-2"
														checked required> COD (cash on delivery)</label>
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-12">
											<div class="radio">
												<label><input type="radio" value="Online" name="paymentMethod"
														class="mr-2" checked required>Online</label>
											</div>
										</div>
									</div>


									<button style="border: none;background: none;" type="submit" value="submit"><a
											style="width: 10rem;height: 2rem;color: #000;"
											class="buy-now btn btn-sm btn-primary ">Place an Order</a></button>
								</div>
					</form>
				</div>
			</div>
    </section>
    <!--================End Checkout Area =================-->

    <!-- start footer Area -->
    
    <%- include ("../partials/userFooter") %>