<%- include ("../layout/layout2") %>

<body>

  <!-- Start Header Area -->
  <%- include ("../partials/userHeader") %>
  <!-- End Header Area -->

  <!-- start banner Area -->
  <section class="banner-area">
    <div class="container">
      <div class="row fullscreen align-items-center justify-content-start">
        <div class="col-lg-12">
          <div class="active-banner-slider owl-carousel">
            <!-- single-slide -->
            <%carousalData.forEach((banner)=> { %>
            <% if(carousalData.length!=0){ %>
            <div class="row single-slide align-items-center d-flex">
              <div class="col-lg-5 col-md-6">
                <div class="text">
                  <span class="subheading" style="font-size: 1.2rem; color: #FFB400; font-weight: bold;">#<%=banner.couponName%></span>
                  <div class="horizontal">
                    <h1 class="mb-4 mt-3" style="font-size: 2.5rem; font-weight: bold;"><%=banner.offerType%></h1>
                    <p class="mb-4" style="font-size: 1.2rem; color: #555; line-height: 1.5;"><%=banner.bannerText%></p>
                    <p><a href="/shop" class="primary-btn" >Discover Now</a></p>
                  </div>
                </div>
                
              </div>
              <div class="col-lg-7">
                <div class="">
                  <img class="img-fluid" src="/<%=banner.bannerImage%>" alt="">
                </div>
              </div>
            </div>
            <!-- single-slide -->
            <% } %>
            <% })%>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End banner Area -->

  <!-- start features Area -->
  <section class="features-area section_gap">
    <div class="container">
      <div class="row features-inner">
        <!-- single features -->
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="single-features">
            <div class="f-icon">
              <img src="UI/img/features/f-icon1.png" alt="">
            </div>
            <h6>Free Delivery</h6>
            <p>Free Shipping on all order</p>
          </div>
        </div>
        <!-- single features -->
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="single-features">
            <div class="f-icon">
              <img src="UI/img/features/f-icon2.png" alt="">
            </div>
            <h6>Return Policy</h6>
            <p>Free Shipping on all order</p>
          </div>
        </div>
        <!-- single features -->
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="single-features">
            <div class="f-icon">
              <img src="UI/img/features/f-icon3.png" alt="">
            </div>
            <h6>24/7 Support</h6>
            <p>Free Shipping on all order</p>
          </div>
        </div>
        <!-- single features -->
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="single-features">
            <div class="f-icon">
              <img src="UI/img/features/f-icon4.png" alt="">
            </div>
            <h6>Secure Payment</h6>
            <p>Free Shipping on all order</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end features Area -->

  <!-- Start category Area -->
  <section class="category-area">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
          <div class="section-title">
            <h1>Choose By Category</h1>

          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-12">
          <div class="row">
            <% category.forEach((categories)=>{ %>
            <div class="col-lg-6">
              <div class="single-deal">
                <div class="overlay"></div>
                <img class="img-fluid w-100" style="height: 20rem;" src="/<%=categories.category_Image %>" alt="">
                <a href="/category/<%=categories._id%>">
                  <div class="deal-details">
                    <h6 class="deal-title"><%=categories.category_name %></h6>
                  </div>
                </a>
              </div>
            </div>
            <% }) %>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single-deal">
            <div class="overlay"></div>
            <img class="img-fluid w-100" src="UI/img/category/c5.jpg" alt="">
            <a href="UI/img/category/c5.jpg" class="img-pop-up" target="_blank">
              <div class="deal-details">
                <h6 class="deal-title">Sneaker for Sports</h6>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End category Area -->

  <!-- start product Area -->
  <section class="owl-carousel active-product-area section_gap">
    <!-- single product slide -->
    <div class="single-product-slider">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 text-center">
            <div class="section-title">
              <h1>Latest Products</h1>
              <p>Discover the latest and greatest products that we have in store for you! From cutting-edge technology to classic designs, we have everything you need.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- single product -->
          <% product.forEach((products)=>{ %>
          <div class="col-lg-3 col-md-6">
            <div class="single-product">
              <a href="/productView/<%=products._id%>"><img class="img-fluid" style="width:300px; height:225px" src="/<%=products.image[0].path%>" alt=""></a>
              <div class="product-details">
                <h6><%= products.name %></h6>
                <div class="price">
                  <h6><%= products.price%></h6>
                  <!-- <h6 class="l-through">150.00</h6> -->
                </div>
                <div class="prd-bottom">
                  <a onclick="addToCart('<%= products._id %>')" class="social-info">
                    <span class="ti-bag"></span>
                    <p class="hover-text">add to bag</p>
                  </a>
                  <a onclick="addToWishlist('<%= products._id %>')" class="social-info">
                    <span class="lnr lnr-heart"></span>
                    <p class="hover-text">Wishlist</p>
                  </a>
                  <a href="/productView/<%=products._id%>" class="social-info">
                    <span class="lnr lnr-move"></span>
                    <p class="hover-text">view more</p>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <%})%>
        </div>
      </div>
    </div>
    <!-- single product slide -->
    <div class="single-product-slider">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 text-center">
            <div class="section-title">
              <h1>Coming Products</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore
                magna aliqua.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- single product -->
          <!-- <div class="col-lg-3 col-md-6">
            <div class="single-product">
              <img class="img-fluid" src="UI/img/product/p6.jpg" alt="">
              <div class="product-details">
                <h6>addidas New Hammer sole
                  for Sports person</h6>
                <div class="price">
                  <h6>$150.00</h6>
                  <h6 class="l-through">$210.00</h6>
                </div>
                <div class="prd-bottom">

                  <a href="" class="social-info">
                    <span class="ti-bag"></span>
                    <p class="hover-text">add to bag</p>
                  </a>
                  <a href="" class="social-info">
                    <span class="lnr lnr-heart"></span>
                    <p class="hover-text">Wishlist</p>
                  </a>
                  <a href="" class="social-info">
                    <span class="lnr lnr-sync"></span>
                    <p class="hover-text">compare</p>
                  </a>
                  <a href="" class="social-info">
                    <span class="lnr lnr-move"></span>
                    <p class="hover-text">view more</p>
                  </a>
                </div>
              </div>
            </div>
          </div> -->
          <!-- single product -->

        </div>
      </div>
    </div>
  </section>
  <!-- end product Area -->

  <!-- Start Banner Area -->
  <div class="site-section block-8">
    <div class="container" style="background: antiquewhite;">
      <% if(bannerData.length){ %>
      <div class="row justify-content-center  mb-5">
        <div class="col-md-7 site-section-heading text-center pt-4">
          <h2><%=bannerData[0].offerType%> </h2>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-md-12 col-lg-7 mb-5">
          <a href="#"><img src="images\pexels-karol-d-325153.jpg" alt="Image placeholder" class="img-fluid rounded"></a>
        </div>
        <div class="col-md-12 col-lg-5 text-center pl-md-5">
          <h2><a href="#">Use Coupon Code <%=bannerData[0].couponName%></a></h2>
          <p class="post-meta mb-4">offer <a href="#">valid till</a> <span class="block-8-sep">&bullet;</span> March 3, 2023</p>
          <p><%=bannerData[0].bannerText%></p>
          <p><a href="/shop" class="btn btn-warning btn-sm">Shop Now</a></p>
        </div>
      </div>
      <% } %>
    </div>
  </div>
  <!-- End Banner Area -->

  <!-- Start brand Area -->
  <section class="brand-area section_gap">
    <div class="container">
      <div class="row">
        <a class="col single-img" href="#">
          <img class="img-fluid d-block w-50" src="images\brand1.png" alt="">
        </a>
        <a class="col single-img" href="#">
          <img class="img-fluid d-block w-50" src="images\brand2.png" alt="">
        </a>
        <a class="col single-img" href="#">
          <img class="img-fluid d-block w-50" src="images\brand3.png" alt="">
        </a>
        <a class="col single-img" href="#">
          <img class="img-fluid d-block w-50" src="images\brand4.png" alt="">
        </a>
        <a class="col single-img" href="#">
          <img class="img-fluid d-block w-50" src="images\brand1.png" alt="">
        </a>
      </div>
    </div>
  </section>
  <!-- End brand Area -->

  <!-- start footer Area -->
  <%- include ("../partials/userFooter") %>